body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: #2C2F33 !important;
  /* color:#b7d4d7 !important */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.g-background-pages{
  /* background-color: #efefef  !important; */
  /* background-color: #333 !important; */
  background-color: #23272A  !important;
}

.g-borders-pages{
  width: 100%;
  
  
}

.g-card {
  margin: 20px;

}

.g-card-image {
  border-radius: 10px;
  /* width: 480px; */
  width: 440px;
  height: 226.25px;
  box-shadow: 0px 0px 3px 1px #CCC;
}

.g-card-info {
  margin-top: 10px;
  /* min-height: 100px; */
}

.g-card-title {
  font-size: 24px;
  margin: 0px;
 
}

.g-card-subTitle {
  font-size: 16px;
  margin: 0px;
}

.success-msg{
  color: #57A773;
  padding: 10px 15px;
}

.err-msg{
  color: #EE6352;
  padding: 10px 15px;
}

.color-nav{
  /* background-color: #333; */
  background-color:#23272A;
  font-size: 40px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.g-Footer{
  background-color: #23272A;
}

.g-Footer-title{
  font-size: 20px;
  text-align: "center" !important;
  color: whitesmoke;
}

.g-Footer-body{
  font-size: 16px;
  text-align: "center";
  color:#C0C0C0;
}

.g-word-link{
  font-size: 16px;
  color:#C0C0C0;
}

.g-projects-text{
  font-size: 21px;
  /* color:#23272A; */
  color:#23272A;
  line-height: 120%;
}

.g-projects-title{
  font-size: 36px;
  /* color:#23272A ; */
  color:#23272A;
}
.g-projects-container{
  background-color: #f3f6f8;
  /* border-radius: 10px; */
  box-shadow: 0px 0px 10px 10px rgba(197, 198, 199, 0.226) !important;
  padding: 2rem;
  box-sizing: border-box; 
  max-width: 1000px !important;
}

.g-video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.g-video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.g-button-wrapper {
  text-align: center;
  
}

.g-me-image {
  border-radius: 30px;
  /* width: 405.972px;
  height: 484.596px; */
  /* width:351.4509px;
  height:578.2428px; */
  width:74.433%;
  height:auto;
  /* height:106.01%; */
  max-width:386.596px ;
  /* max-width:386.596px ; */
  max-height:636.0671px; 

  box-shadow: 0px 0px 3px 1px #CCC;
}


.g-landing-title{
  color: #cacaca;
  font-size: 1.8em;
  text-align: center;
  line-height: 1.7em;
  font-weight: 700;
  letter-spacing: -1.5px;  

}

.g-landing-text{
  color: #8a8a8a;
  font-size: 1.05em;
  line-height: 1.95em;
  font-weight: 400;
}

.g-vertical-center-jumbotron {
  background-color: #23272A !important;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 87.3vh; /* These two lines are counted as one :-)       */
  margin-bottom: 0em !important;
  display: flex;
  align-items: center;
  text-align: center;
}

.g-follow-me{
  z-index: 1001;
  position: fixed;
  left: 0;
  /* top: calc(50% - (275px / 2)); */
  width: 55px;
  height: 275px;
  box-sizing: border-box;
  ;
}

.g-follow-me-icons{
  list-style: none;
  margin-top:0;
  margin-bottom: 1rem;
  /* box-sizing: border-box; */
  padding:0 !important;
  margin: 0 !important;
}

.g-follow-me-text{
  position: absolute;
  top: -30px;
  left: -2px;
  width: 100%;
  text-align: right;
  color: #7a7a7a;
  font-weight: 600;
  font-size: .85em !important;
}

.g-follow-me-tags{
  width: 55px !important;
  height: 55px !important;
}

.g-hero-color{
 color: #cacaca;
}

.g-jumbotron-no-margin{
  margin-bottom: 0 !important;
}
.g-about-text{
  width: 100%;
  text-align: justify;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 35px;
}

.g-align-right{
  text-align: right;
}

.g-image-emoji{
  margin-bottom: 7px !important;
}



.g-more-about-tag-company{
  color:#0073b1;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  text-align: left;
  font-size: 26px;
  line-height: 1.85;
}
.g-more-about-tag-jobtitle{
  color: #d4e735;
  /* color:#5e9516; */
  font-weight: 700;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  font-size: 16px;
  line-height: 2.15;
}
.g-more-about-tag-period{
  color:#5e9516;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  line-height: 1.45;
}
.g-more-about-tag-location{
  color: #7a7a7a;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-size: 16px;
  text-align: left;
}
.g-more-about-list{
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  line-height: 23px;
  list-style-type: circle;
}
.g-more-about-logo{
  margin-top: 15px !important;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1) !important;
}

.g-more-about-line{
  border-top: 2px solid whitesmoke;
}
.g-a {
  color:inherit;
  text-decoration: none;
}

.g-vid{
  margin:2% 10% 2% 10%;
}

.g-pin{
  margin-right: -13.4% !important; 
  margin-bottom: 0px;
  margin-top: -1.9% !important;
}

.g-custom-carousel{
  display: flex;
  align-items: center;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 87.3vh; /* These two lines are counted as one :-)       */
  margin-bottom: 0em !important;

}

.g-right-button{
  /* align-items: right; */
  z-index: 1001;
  position: fixed;
  right: 0;
  /* top: calc(50% - (275px / 2)); */
  width: 55px;
  height: 275px;
  /* box-sizing: border-box; */
  
}

.g-left-button{
  /* align-items: right; */
  z-index: 1002;
  position: fixed;
  left: 0;
  font-size: 30px;
  /* top: calc(50% - (275px / 2)); */
  width: 55px;
  height: 275px;  
}

.g-zero-padding{
  padding-bottom: 0px !important;
}


.g-spotify-dropdown-container{
  background-color: #23272A;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  bottom: 10% !important;
  width:300px !important;
  height:300px !important; 
}
.g-spotify-dropdown{
  background-color: #23272A;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  bottom: 10% !important;
  width:300px !important;
  height:300px !important; 
}

.g-heroproj-content-container{
  padding-left: 5% !important;
  padding-right: 5% !important;

}

@media(max-width:625px){
  .g-follow-me{
    position: absolute;
    background-position-y: bottom;
    width: 100%;
    float: bottom;
    height:10%;
    text-align: center;
    bottom: 0%;
    padding-left: 4%;
  }
  .g-all-text{
    position: absolute;
    bottom:15%;
  }

  .g-follow-me-text{
    text-align: center;
    padding-left: 4%;
  }
  .g-resp-ipad{
    box-sizing: none !important;
  }
  .g-card-info{
    text-align: center;
  }
  .g-right-home{
    margin-right: 9% !important;
  }
  .g-heroproj-content-container{
    padding-left: 0% !important;
    padding-right: 0% !important;
  
  }
  .g-pin{
    margin-right: 26% !important; 
    margin-bottom: 0px;
    margin-top: -1.9% !important;
  }

  .g-spotify-dropdown{
    height:80px !important;
  }

  .g-spotify-dropdown-container{
    height:80px !important;
    margin-left: -200% !important;
  }

  .g-over-responsive{
    display: none;
  }
}




@media(min-width:626px) and (max-width:768px){
  .g-follow-me{
    position: absolute;
    width: 100%;
    float: bottom;
    height:6%;
    text-align: center;
    bottom: 25%;
    padding-left: 4%;
  }
  .g-all-text{
    position: absolute;
    bottom:50%;
  }

  .g-follow-me-text{
    text-align: center;
    padding-left: 4%;
  }

  .g-resp-ipad{
    box-sizing: none !important;
  }
  .g-card-info{
    text-align: center;
  }
}

